@import './base.css';

:root{
  --color-prime-dark: #6D8C68;
  --color-prime-light: #9AD9B0;
  --color-second-dark: #732C02;
  --color-second-light: #8F3603;
  --color-second-lightest: #CB4D04;
  --color-comment-light: #59533F;
  --color-comment-darkest: #261E1E;

  --color-background: #181413;
}


#app {
  max-width: 1280px;
  margin: 0 0; /* auto; */
  padding: 0 0; /* padding: 2rem; */

  font-weight: normal;
}

a {
  text-decoration: none;
  color: var(--color-second-light); 
  transition: 0.4s;
}

h1 {
  color: var(--color-prime-dark);
  font-weight: bold;
}

h2 {
  color: var(--color-prime-dark);
}

header {
  line-height: 1.5;
  max-height: 100vh;
}

.color_main_dark {
  text-decoration: none;
  color: var(--color-prime-dark);
  transition: 0.4s; 
}

.color_main_light {
  text-decoration: none;
  color: var(--color-prime-light);
  transition: 0.4s;
}

.color_second_dark {
  text-decoration: none;
  color: var(--color-second-dark);
  transition: 0.4s;
}

.color_second_light {
  text-decoration: none;
  color: var(--color-second-light);
  transition: 0.4s;
}

.color_second_lightest {
  text-decoration: none;
  color: var(--color-second-lightest);
  transition: 0.4s;
}

.color_comment_light {
  text-decoration: none;
  color: var(--color-comment-light);
  transition: 0.4s;
}

.color_comment_darkest {
  text-decoration: none;
  color: var(--color-comment-darkest);
  transition: 0.4s;
}



@media (hover: hover) {
  a:hover {
    /*background-color: var(--color-comment-darkest);*/
    color: var(--color-second-lightest);
    transition: 0.2s; 
    /*text-decoration: underline;*/
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  
  #app {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0 2rem;
  }
  
}
